.footer {
  display: flex;
  margin: 0 48px 24px 48px;
  justify-content: space-between;
  max-width: 1184px;
}
@media screen and (max-width: 1023px) {
  .footer {
      max-width: 720px;
      margin: 0 auto 24px auto;
  }
}
@media screen and (max-width: 767px) {
  .footer {
      display: flex;
      flex-direction: column;
      margin: 0 auto 24px;
      padding: 0 0 0 16px;
  }
}
